body {
  background-image: url("https://media.distractify.com/brand-img/ho1KqyB9t/1280x670/clock-creel-house-stranger-things-1654801103884.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  appearance: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

footer {
  color: #cf1516;
  text-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.8);
  font-weight: bolder;
  padding: 0 auto;
  text-align: center;
  position: relative;
  top: -30px;
}

footer a {
  text-decoration: none;
  color: #cf1516;
}

select {
  position: relative;
  padding: 20px 25px;
  top: -60px;
  right: -550px;
  font-weight: bolder;
  font-size: 50px;
  color: #cf1516;
  background-color: transparent;
  border-color: #cf1516;
  border-width: 3px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

#dropDown Div {
  color: #cf1516;
  font-size: 50px;
}

#losAngeles {
  color: #cf1516 !important;
}

#subline {
  position: relative;
  top: 30px;
  margin: auto;
  width: max-content;
  padding: 5px;
}

.worldClock {
  max-width: 100px;
}

.city,
.date,
.time {
  color: #cf1516;
}

#vecna {
  max-width: 100px;
  transition: 250ms ease-in-out;
  position: relative;
  right: -140px;
  top: -330px;
  padding: 5px;
  display: inline;
}

#vecna:hover {
  max-width: 150px;
  transform: scale(4);
  transform: translate(-100px, -200px);
  box-shadow: 0 0 100px #cf1516;
  background-color: transparent;
  border-radius: 130px;
}

#eddie {
  max-width: 100px;
  transition: 250ms ease-in-out;
  position: relative;
  right: -1000px;
  top: -485px;
}

#eddie:hover {
  max-width: 100px;
  transform: scale(3);
  box-shadow: 0 -6px 7px -7px #cf1516 inset;
  border-radius: 3px;
}
