body {
  background-image: url("https://media.distractify.com/brand-img/ho1KqyB9t/1280x670/clock-creel-house-stranger-things-1654801103884.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  appearance: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

footer {
  color: #cf1516;
  font-weight: bolder;
  text-align: center;
  position: relative;
  top: -360px;
  font-family: "Source Sans Pro", sans-serif;
}

footer a {
  text-decoration: none;
  color: #cf1516;
  font-family: "Source Sans Pro", sans-serif;
}

select {
  display: block;
  width: 100%;
  padding: 20px 25px;
  margin: 15px auto;
  font-weight: bolder;
  font-size: 18px;
  color: #cf1516;
  box-shadow: 3px 3px 3px 3px #cf1516;
  background-color: transparent;
  border-color: #cf1516;
  border-width: 3px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
  margin: 0px auto;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
}

#subline {
  position: relative;
  top: 30px;
  margin: auto;
  width: max-content;
  padding: 5px;
}

.worldClock {
  max-width: 100px;
}

.container {
  position: relative;
  top: -80px;
  max-width: 600px !important;
  margin: 0px auto !important;
  padding: 30px !important;
  border: 3px solid #cf1516;
  background: transparent;
  box-shadow: 7px 7px 7px 7px #cf1516;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
}

.data {
  padding-top: 15px;
}

.city,
.date,
.time {
  color: #cf1516;
}

.city {
  display: flex;
  margin: 0px auto;
  justify-content: space-between;
  padding: 0px 0;
  border-bottom: 1px dashed #cf1516;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.8;
}

.time {
  font-size: 28px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

#vecna {
  max-width: 100px;
  transition: 250ms ease-in-out;
  position: relative;
  right: -140px;
  top: -360px;
  padding: 5px;
  display: inline;
}

#vecna:hover {
  max-width: 150px;
  transform: scale(4);
  transform: translate(-100px, -200px);
  box-shadow: 0 0 100px #cf1516;
  background-color: transparent;
  border-radius: 130px;
}

#eddie {
  max-width: 100px;
  transition: 250ms ease-in-out;
  position: relative;
  right: -1050px;
  top: -500px;
}

#eddie:hover {
  max-width: 100px;
  transform: scale(3);
  box-shadow: 0 -6px 7px -7px #cf1516 inset;
  border-radius: 3px;
}
